stages:
  - build
  - deploy

build:
  stage: build
  image: node:lts-alpine
  script:
    - npm ci
    - npm run lint
    - npm run build
  only:
    - main

deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - 'which ssh-agent || ( apk add --update openssh )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SERVER_HOST >> ~/.ssh/known_hosts
  script:
    - ssh $SERVER_USER@$SERVER_HOST "cd $PROJECT_PATH && git pull origin main && echo \"PROJECT_NAME=$PROJECT_NAME\" > .env && echo \"DOMAIN_NAME=$DOMAIN_NAME\" >> .env && echo \"TRAEFIK_NETWORK=$TRAEFIK_NETWORK\" >> .env && docker compose up -d --build"
  only:
    - main
