name: CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    if: secrets.SERVER_HOST != '' && secrets.SERVER_USER != '' && secrets.SSH_PRIVATE_KEY != '' && secrets.PROJECT_PATH != '' && secrets.PROJECT_NAME != '' && secrets.BOT_TOKEN != '' && secrets.TRAEFIK_NETWORK != ''
    uses: ./.github/workflows/deploy.yml
    secrets:
      SERVER_HOST: ${{ secrets.SERVER_HOST }}
      SERVER_USER: ${{ secrets.SERVER_USER }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      PROJECT_PATH: ${{ secrets.PROJECT_PATH }}
      PROJECT_NAME: ${{ secrets.PROJECT_NAME }}
      BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      DOMAIN_NAME: ${{ secrets.DOMAIN_NAME }}
      TRAEFIK_NETWORK: ${{ secrets.TRAEFIK_NETWORK }}
      TRAEFIK_ENABLE: ${{ secrets.TRAEFIK_ENABLE }}
