name: CI/CD

on:
  push:
    branches: [ "main", "master" ]
jobs:
  deploy:
    if: vars.SERVER_HOST != '' && vars.SERVER_USER != '' && vars.PROJECT_PATH != '' && vars.PROJECT_NAME != '' && vars.DOMAIN_NAME != '' && vars.TRAEFIK_NETWORK != ''
    uses: ./.github/workflows/deploy.yml
    with:
      GIT_BRANCH: ${{ github.ref_name }}
      REPO_URL: ${{ vars.REPO_URL != '' && vars.REPO_URL || format('https://github.com/{0}.git', github.repository) }}
      SERVER_HOST: ${{ vars.SERVER_HOST }}
      SERVER_USER: ${{ vars.SERVER_USER }}
      PROJECT_PATH: ${{ vars.PROJECT_PATH }}
      PROJECT_NAME: ${{ vars.PROJECT_NAME }}
      DOMAIN_NAME: ${{ vars.DOMAIN_NAME }}
      TRAEFIK_NETWORK: ${{ vars.TRAEFIK_NETWORK }}
      TRAEFIK_ENTRYPOINT: ${{ vars.TRAEFIK_ENTRYPOINT }}
      TRAEFIK_ENABLE: ${{ vars.TRAEFIK_ENABLE }}
      ADMIN_IDS: ${{ vars.ADMIN_IDS }}
    secrets:
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      REPO_SSH_KEY: ${{ secrets.REPO_SSH_KEY }}
      BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
